body{
    font-family: "Open Sans", sans-serif;
}

/*Navbar section*/


/*title section*/

.title{
    background-color: #d9d9d9 ;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    padding: 10rem 2rem;
}

.main-title{
    text-align: center;
}

.main-title h1{
    font-size: 3rem;
    justify-items: center;
}

.main-title p{
    text-align: center;
    color:#191919
}

.name{
    color:#9b4819;
}

.gif{
    margin-top: 2rem;
}

.code-slash{
    position:absolute;
    opacity: 0.8;
}
.code-slash.top-left {
    top: 5rem;
    left: 5rem; 
    width: 80px; 
}

.code-slash.top-right {
    top: 35rem;
    right: 5rem; 
    width: 80px; 
}

/*Intro section*/

.intro img{
    border-radius: 50%;
}   
 
/* Skills section */

.skills{
   padding: 2rem;
   background-color: #d9d9d9;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 2rem;
}

.card{
    margin: 1rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card img{
    height: 200px;
}

.card-body h5{
    font-family: 'open sans', sans-serif;
    font-size: 1.5rem;
    color: #9b4819;
    text-align: left;
}

.card-body p{
    font-family: 'open sans', sans-serif;
    color: #191919;
    text-align: left;
}

/* Contact section */
.contact-me{
    padding: 2rem;
    text-align: center;
    min-height: 60vh;
}

.btn{
    background-color: #9b4819;
    color: white;
}

/* Footer section */
.footer{
    background-color: #9b4819;
    padding: .5rem;
}




/* Media query for mobile devices */

@media (max-width: 768px) {
    .title {
        height: 90vh;
    }

    .main-title h1 {
        font-size: 2.5rem; 
    }   

    .main-title p {
        font-size: 1.2rem;
    } 

    .name {
        font-size: 2.8rem; 
    }

    .code-slash.top-left {
        top: 2.5rem; 
        left: 3.5rem; 
        width: 30px; 
    }

    .code-slash.top-right {
        top: 45rem;
        right: 2.5rem; 
        width: 30px; 
    }

    .skills .row {
        margin-top: 1rem; 
    }
    .skills .col {
        margin-bottom: 1rem; 
    }
}