body{
    font-family: "Open Sans", sans-serif;
}

/*Navbar section*/


/*title section*/

.gradient-background {
    background: linear-gradient(300deg, #9b4819, #9b4819, #f4f1e8);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.title{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10rem 2rem;
}

.main-title{
    text-align: center;
}

.main-title h1{
    font-size: 3rem;
    justify-items: center;
}

.main-title p{
    text-align: center;
    color:#191919
}

.name{
    color:#f4f1e8;
}

.brown{
    color: #9b4819;
}

.gif{
    margin-top: 2rem;
}

.code-slash{
    position:absolute;
    opacity: 0.8;
}
.code-slash.top-left {
    top: 5rem;
    left: 5rem; 
    width: 80px; 
}

.code-slash.top-right {
    top: 35rem;
    right: 5rem; 
    width: 80px; 
}

/* From Uiverse.io by Voxybuns */ 
button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #9b4819;
    --button_outline_color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
  

/*Intro section*/

.intro img{
    border-radius: 50%;
}   
 
/* Skills section */

.skills{
   padding: 2rem;
   background-color: #d9d9d9;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 2rem;
}

.card{
    margin: 1rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card img{
    height: 200px;
}

.card-body h5{
    font-family: 'open sans', sans-serif;
    font-size: 1.5rem;
    color: #9b4819;
    text-align: left;
}

.card-body p{
    font-family: 'open sans', sans-serif;
    color: #191919;
    text-align: left;
}

/* Contact section */
.contact-me{
    padding: 2rem;
    text-align: center;
    min-height: 60vh;
}

.btn{
    background-color: #9b4819;
    color: white;
}

/* Footer section */
.footer{
    background-color: #9b4819;
    padding: .5rem;
}




/* Media query for mobile devices */

@media (max-width: 768px) {
    .title {
        height: 90vh;
    }

    .main-title h1 {
        font-size: 2.5rem; 
    }   

    .main-title p {
        font-size: 1.2rem;
    } 

    .name {
        font-size: 2.8rem; 
    }

    .code-slash.top-left {
        top: 2.5rem; 
        left: 3.5rem; 
        width: 30px; 
    }

    .code-slash.top-right {
        top: 45rem;
        right: 2.5rem; 
        width: 30px; 
    }

    .skills .row {
        margin-top: 1rem; 
    }
    .skills .col {
        margin-bottom: 1rem; 
    }
}