body{
    font-family: "Open Sans", sans-serif;
}

.title{
    background-color: #d9d9d9 ;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    padding: 10rem 2rem;
}

.main-title h1{
    font-size: 3rem;
}

.main-title p{
    text-align: center;
    color:#191919
}

.name{
    color:#9b4819 
}

.gif{
    margin-top: 2rem;
}

.code-slash{
    position:absolute;
    opacity: 0.8;
}
.code-slash.top-left {
    top: 5rem;
    left: 5rem; 
    width: 80px; 
}

.code-slash.top-right {
    top: 35rem;
    right: 5rem; 
    width: 80px; 
}

/*Intro section*/

.intro img{
    border-radius: 50%;
}   


/* Media query for mobile devices */

@media (max-width: 768px) {
    .title {
        height: 90vh;
    }

    .main-title h1 {
        font-size: 2.5rem; 
    }   

    .main-title p {
        font-size: 1.2rem;
    } 

    .name {
        font-size: 2.8rem; 
    }

    .code-slash.top-left {
        top: 2.5rem; 
        left: 3.5rem; 
        width: 30px; 
    }

    .code-slash.top-right {
        top: 45rem;
        right: 2.5rem; 
        width: 30px; 
    }
}